@font-face{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Jost'),
    url(../fonts/Jost-Regular.woff2),
    url(../fonts/Jost-Regular.woff);
}

@font-face{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Jost'),
    url(../fonts/Jost-Medium.woff2),
    url(../fonts/Jost-Medium.woff);
}

@font-face{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Jost'),
    url(../fonts/Jost-SemiBold.woff2),
    url(../fonts/Jost-SemiBold.woff);
}

@font-face{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Jost'),
    url(../fonts/Jost-Bold.woff2),
    url(../fonts/Jost-Bold.woff);
}
