/*global*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    width: auto;
    height: 100%;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    background-color: #2b2c3a;
    color: #ffffff;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .01), rgba(255, 255, 255, .1));
}

/*lines*/
.line {
    font-size: 0;
}

.line__menu-1 {
    width: 100%;
    height: 1px;
    background-color: rgba(216, 216, 216, 0.1);
}

.line__header-1 {
    width: 1px;
    height: 24px;
    background-color: rgba(216, 216, 216, .1);
}

.line__header-2 {
    width: 100%;
    height: 1px;
    background-color: rgba(216, 216, 216, .1);
    position: absolute;
    right: 0;
    top: 72px;
}

/*sidebar*/
.sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(156, 165, 236, 0.04);
    overflow-x: hidden;
}

.sidebar__wrapper {
    height: auto;
    position: relative;
    overflow: auto;
}

/*logo*/
.logo {
    margin: 19px 30px 16px;
}

/*menu*/
.menu {
    margin-top: 21px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(216, 216, 216, .06);
}

.menu_box {
    position: relative;
}

.menu_label {
    position: relative;
    cursor: pointer;
    display: block;
    height: 33px;
    color: #ffffff;
    padding: 10px 10px 10px 30px;
    text-transform: uppercase;
}

.menu_label__list {
    position: relative;
    cursor: pointer;
    height: 33px;
    padding: 10px 10px 10px 30px;
    text-transform: uppercase;
}

.menu_label__list::after {
    content: url(../images/arrow-up.svg);
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 25px;
}

.menu_box.active .menu_label__list::after {
    transform: rotate(180deg);
    top: 20%;
}

.content {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    width: 100%;
}

.content a {
    display: block;
    color: rgba(255, 255, 255, .5);
    height: 33px;
    padding-top: 7px;
    padding-left: 60px;
}

.content a:hover {
    background-color: rgba(255, 255, 255, .03);
    border-left: 3px solid #6f6eff;
    box-shadow: 120px 0px 20px -120px rgba(111, 110, 255, 0.5) inset;
}

.content a:hover p {
    margin-left: -3px;
}

/*subs*/
.subs {
    position: absolute;
    bottom: 32px;
    left: 30px;
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.subs p {
    color: rgba(255, 255, 255, .5);
}

.subs input {
    opacity: 0;
    display: block;
}

.subs__label {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    transition: 0.5s;
}

.subs__label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    transition: 0.5s;
    top: 1px;
    left: 2px;
}

.subs input:checked~.subs__label::before {
    border: 1px solid #6F6EFF;
    box-shadow: 0px 0px 5px 1px #6F6EFF;
    background: #6F6EFF;
    transform: translateX(18px);
}

/*header*/
.header {
    height: 72px;
    width: calc(100% - 280px);
    position: fixed;
    background-color: #2b2c3a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .01), rgba(255, 255, 255, .1));
    z-index: 1;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.header__description,
.header__description-text,
.header__description-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    margin-left: 55px;
}

.header__links ul {
    display: flex;
    align-items: center;
}

.header__links-text {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
}

.header__links-text:focus {
    color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .5);
    color: #ff4738;
    font-size: 12px;
}

.header__links-text:hover {
    color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(255, 255, 255, .9);
}

.header__links-text:active {
    color: rgba(255, 255, 255, 0.3);
}

.header__links ul li:nth-child(2) {
    padding-right: 3px;
    padding-left: 8px;
}

.header__links ul li:nth-child(3) {
    padding: 2px 7px 2px 1px;
}

.energy__background {
    background-color: #ff4738;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 5px 1px #ff4738;
}

.header__energy-icon {
    position: absolute;
    top: 2px;
    left: 6px;
}

.avatar {
    width: 44px;
    height: 44px;
}

.header__description {
    margin-right: 38px;
}

.header__description-text {
    color: #ffffff;
}

.header__description-text {
    font-size: 13px;
    padding: 2px 6px 2px 3px;
    margin-right: 12px;
    background-color: rgba(255, 255, 255, .06);
    border-radius: 5px;
}

.header__description-one {
    padding-left: 4px;
    margin-right: 3px;
}

.header__description-two {
    padding-left: 5px;
    margin-right: 7px;
}

.header__font-semibold {
    font-weight: 600;
    font-size: 13px;
    padding: 0 6px 0 9px;
}

.header__font-light-small {
    font-size: 11px;
    color: rgba(255, 255, 255, .6);
}

.user__info {
    display: flex;
    flex-direction: column;
}

.user__info-name {
    margin-right: 7px;
}

.user__info-online {
    position: relative;
    margin-left: 10px;
    color: #24CB8D;
    font-size: 13px;
    font-weight: 600;
}

.user__info-online::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #24CB8D;
    border-radius: 50%;
    content: '';
    right: 78px;
    top: 6px;
}

.user__info-level {
    margin: 0 9px 14px 6px;
    position: relative;
    background-color: #6F6EFF;
    width: 40px;
    height: 14px;
    border-radius: 4px;
}

.user__info-level-text {
    position: absolute;
    font-size: 12px;
    left: 10px;
    top: 1px;
    line-height: 1em;
}

.user__avatar {
    margin-right: 13px;
    margin-left: 5px;
}

.pro {
    width: 55px;
}

/*main*/
.main a {
    display: block;
    color: #ffffff;
    height: 100%;
}

.main,
.header {
    margin-left: 280px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 112px 55px 0;
    width: auto;
    height: auto;
}

.main__block {
    width: 1050px;
    height: 360px;
    margin: 0 auto 60px;
}

.main__block-collection {
    height: auto;
    margin-bottom: 30px;
}

.main__description {
    display: flex;
    justify-content: space-between;
}

.main__text-level {
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(255, 255, 255, .4);
}

.main__text-technology {
    font-size: 22px;
}

.main__description-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.main__button-lections:hover,
.main__button-watch:hover {
    box-shadow: 0 0 5px 1px #6F6EFF;
}

.main__button-lections {
    width: 86px;
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    background-color: #6f6eff;
    border-radius: 4px;
    border: transparent;
    margin-right: 10px;
    margin-left: 5px;
}

.main__button-lections:last-child {
    margin-right: 0;
}

.main__button-lections a,
.main__button-watch a {
    padding-top: 8px;
}

.main__button-left a,
.main__button-right a {
    padding-top: 9px;
}

.main__button-watch {
    font-size: 12px;
    /*В фигме шрифт 13, но при наложении видно, что 12*/
    color: #ffffff;
    background-color: #6f6eff;
    border-radius: 4px;
    border: transparent;
    width: 89px;
    height: 30px;
}

.main__button-left {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .15);
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.main__button-right {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, .15);
    width: 30px;
    height: 30px;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(255px, 275px));
    grid-template-rows: repeat(1, 294px);
    grid-gap: 11px;
    margin: 25px 0 60px;
}

.main__card {
    width: 255px;
    height: 294px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .04);
}

.main__card-image {
    position: relative;
    width: 255px;
    height: 144px;
    background-size: cover;
    background-repeat: round;
    margin-bottom: 11px;
}

.main__card:nth-child(2) .main__card-label {
    left: 9px;
}

.main__card:nth-child(3) .main__card-label {
    left: 10px;
}

.main__card:nth-child(3) .main__card-description {
    margin: 0 16px;
}

.main__card:nth-child(3) .main__card-bottom {
    margin: 15px 15px 0 16px;
}

.main__card-label {
    position: absolute;
    font-size: 12px;
    top: 17px;
    left: 15px;
    background-color: #6f6eff;
    width: 50px;
    height: 20px;
    border-radius: 3px;
    padding: 2px 0 0 5px
}

.main__card-description {
    height: 79px;
    margin: 0 15px;
}

.main__card-topic {
    font-size: 16px;
}

.main__card-subtopic {
    color: rgba(255, 255, 255, .5);
    margin-top: 3px;
    line-height: 19px;
}

.line__main {
    height: 1px;
    background-color: rgba(216, 216, 216, .1);
    width: 100%;
}

.main__card-date {
    font-size: 13px;
}

.main__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 0;
}

button img {
    vertical-align: 0;
}